@use './fonts' as *;

// Colors
$shamrock: #28cb8b;
$outer_Space: #263238;
$dodger_blue: #2194F3;
$white: #ffffff;


// Primary
$primary_color: $shamrock;
$secondary_color: $outer_Space;
$info_color: $dodger_blue;

// Neutral


